
node_modules/


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.env
venv
.env.local


dist/
build/


.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

*.tmp
*.swp
*.bak
*.orig


*.patch
*.diff
*.lock