*{
    margin: 0;
    max-width: 100%;
    font-family: 'Lato', 'Arial', sans-serif;
}
.nav {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    background: black;
    color: white;
    width: 100%;
    top: 0;
    z-index: 999;
    padding: 15px;
    position: fixed;


}
.nav h2{
    font-family: "Montserrat", sans-serif;
}

nav ul{
    display: flex;
    gap: 2rem;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.nav form .content{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.nav form input{
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7.5px;

}
.nav form button{
    background: black;
    border-style: none;
    margin-left: 1rem;
    cursor: pointer;
}

/*hero-section section styling*/
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/young-adult-having-fun-white-party.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    opacity: 0.7;
    object-fit: fill;
    height: 100vh;
}
.hero-section .content h2{
    background: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}
.hero-section .content button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background:  rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    padding: 12px;
    border-style: none;
    margin-top: 10px;
    margin-right: 2px;

}
.hero-section .content button:hover{
    background:  rgba(255, 255, 255, 0.5);
    color: black;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

/*event-list styling*/

.title{
    margin-top: 10px;
    padding: 15px;
    text-align: center;

}
.title hr{
    margin-top: 5px;
    margin-left: 5.1%;
    margin-right: 5.1%;
    color: grey;
    
    
}

.event-list{
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}
.event-list img{
    max-width: 100%;
    height: 250px;
    border-radius: 15px;
}
.event-list h2{
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.event-list p{
    line-height: 1.4;
    letter-spacing: 0.05em;
    width: 90%;
    height: auto;
    
}
.event-list li{
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.event-list li box-icon{
    margin-right: 5px;

}
/*Event detail styling*/
.event-detail{
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px;
    margin-top: 60px;
}
.event-detail img{
    display: block;
    margin-bottom: 15px;
    border-radius: 12px;
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.event-detail h2{
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.event-detail p{
    width: 100%;
    height: auto;
    line-height: 1.4;
    letter-spacing: 0.05em;
}
.date_rsvp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    background: whitesmoke;
}                                                                                                                                                                               
.date_rsvp li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
.date_rsvp button{
    border-style: none;
    border-radius: 15px;
    padding: 12px;
    color: white;
    background: black;
}
.date_rsvp button:hover{
    color: black;
    background: white;
    transition: transform 0.3s ease;
}

.date_rsvp li{
    line-height: 1.2;
    letter-spacing: 0.03em;
}

