*{
    margin: 0;
    max-width: 100%;
}
.nav {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    background: rgb(161, 237, 240);
    max-width: 100%;
    padding: 15px;

}

nav ul{
    display: flex;
    gap: 2rem;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.nav form .content{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.nav form input{
    border-style: none;
    border-radius: 15px;
    padding: 7.5px;

}
.nav form button{
    background: rgb(161, 237, 240);
    border-style: none;
    margin-left: 1rem;
    cursor: pointer;
}
/*home section styling*/
.img{
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    height: 55vh;
    background: url(images/people-taking-part-high-protocol-event.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: fill;
}