{% load static %}
<head>
{% block title %}<title>Showup|find all events</title>{% endblock title %}
<link href="{%static "style.css"%}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<nav class="nav">
     <h2>Showup</h2>
    <div class="links">
  
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
        
    </ul>
    </div>

    

</nav>
{% block content %}

{% endblock content %}