{% extends "base.html" %}
{% block content %}
<div class="event-detail">
    <img src='{{event.photo.url}}' alt="{{event.name}}">
    <h2>{{event.name}}</h2>
    <p>{{event.description}}</p>
 
    <div class="date_rsvp">
        <li><box-icon name='calendar' color="blue" size="30px"></box-icon>{{event.day_date}}</li>

        <li><box-icon name='time-five' color="blue" size="30px"></box-icon>{{event.time}}</li>
        <li><box-icon name='map' color="blue" size="30px"></box-icon>{{event.venue}}</li>
        <button>Get Ticket</button>
   

    </div>
   

</div>

{% endblock content %}